<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanglaoyuan.model.Mapper.ICheckinMapper">
    <resultMap id="resultCheckin" type="com.yanglaoyuan.pojo.Checkin">
        <id property="cheId" column="che_id"/>
        <result property="cheBed" column="che_bed"/>
        <result property="cheNursing" column="che_nursing"/>
        <result property="cheCanying" column="che_canying"/>
        <result property="cheDue" column="che_due"/>
        <result property="cheActual" column="che_actual"/>
        <result property="cheMode" column="che_mode"/>
        <result property="cheRemarks" column="che_remarks"/>
        <association property="oldmanByOmId" javaType="com.yanglaoyuan.pojo.Oldman">
            <id property="omId" column="om_id"/>
            <result property="tomName" column="tom_name"/>
            <result property="tomCard" column="tom_card"/>
            <result property="tomNumber" column="tom_number"/>
            <collection property="beds" ofType="com.yanglaoyuan.pojo.Bed">
                <id column="bid" property="bid"/>
                <result column="bname" property="bname"/>
                <result column="fjh" property="fjh"/>
                <result column="cshu" property="cshu"/>
                <result column="ldh" property="ldh"/>
            </collection>
        </association>
        <association property="userByUid" javaType="com.yanglaoyuan.pojo.User">
            <id property="uid" column="uid"/>
            <result property="uname" column="uname"/>
        </association>
    </resultMap>

    <select id="selectall" resultMap="resultCheckin">
        select che_id, che_bed, che_nursing, che_canying, che_due, che_actual, che_mode, che_remarks,
            o.om_id, o.tom_name, o.tom_card, o.tom_number, u.uid, u.uname,
            b.bid, b.bname, f.fname as fjh,f1.fname as cshu,f2.fname as ldh from checkin c
	        inner join oldman o on c.om_id = o.om_id
    	    inner join user u on c.uid = u.uid
    	    left join bed b on o.om_id = b.om_id
            left join floor f on b.fid = f.fid
            left join floor f1 on f1.fid = f.fdad
            left join floor f2 on f2.fid = f1.fdad
        order by che_id desc;
    </select>

</mapper>