<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanglaoyuan.model.Mapper.IDepositMapper">
    <resultMap id="resultDeposit" type="com.yanglaoyuan.pojo.Deposit">
        <id property="depId" column="dep_id"/>
        <result property="depMoney" column="dep_money"/>
        <result property="depDate" column="dep_date"/>
        <result property="depPayment" column="dep_payment"/>
        <result property="depPaytype" column="dep_paytype"/>
        <result property="depRemarks" column="dep_remarks"/>
        <association property="oldmanByOmId" javaType="com.yanglaoyuan.pojo.Oldman">
            <id property="omId" column="om_id"/>
            <result property="tomName" column="tom_name"/>
            <result property="tomCard" column="tom_card"/>
            <result property="tomNumber" column="tom_number"/>
            <collection property="beds" ofType="com.yanglaoyuan.pojo.Bed">
                <id column="bid" property="bid"/>
                <result column="bname" property="bname"/>
                <result column="fjh" property="fjh"/>
                <result column="cshu" property="cshu"/>
                <result column="ldh" property="ldh"/>
            </collection>
        </association>
        <association property="userByUid" javaType="com.yanglaoyuan.pojo.User">
            <id property="uid" column="uid"/>
            <result property="uname" column="uname"/>
        </association>
    </resultMap>

    <select id="selectalls" resultMap="resultDeposit">
        select dep_id, dep_money, dep_date, dep_payment, dep_paytype, dep_remarks, o.om_id, b.bid, b.bname,
            o.tom_name, o.tom_card, o.tom_number, u.uid, u.uname, f.fname as fjh,f1.fname as cshu,f2.fname as ldh from deposit d
            inner join oldman o on d.om_id = o.om_id
            inner join user u on d.uid = u.uid
            left join bed b on o.om_id = b.om_id
            left join floor f on b.fid = f.fid
            left join floor f1 on f1.fid = f.fdad
            left join floor f2 on f2.fid = f1.fdad
        order by dep_date desc
    </select>

    <select id="selectbykwy" resultMap="resultDeposit">
        select dep_id, dep_money, dep_date, dep_payment, dep_paytype, dep_remarks, o.om_id, b.bid, b.bname,
            o.tom_name, o.tom_card, o.tom_number, u.uid, u.uname, f.fname as fjh,f1.fname as cshu,f2.fname as ldh from deposit d
            inner join oldman o on d.om_id = o.om_id
            inner join user u on d.uid = u.uid
            left join bed b on o.om_id = b.om_id
            left join floor f on b.fid = f.fid
            left join floor f1 on f1.fid = f.fdad
            left join floor f2 on f2.fid = f1.fdad
            <where>
                <if test="name!=null and name!=''">
                    and o.tom_name like #{name}
                </if>
                <if test="phone!=null and phone!=''">
                    and o.tom_number = #{phone}
                </if>
                <if test="card!=null and card!=''">
                    and o.tom_card = #{card}
                </if>
            </where>
        order by dep_date desc
    </select>

    <select id="selectbyid" resultMap="resultDeposit">
        select dep_id, dep_money, dep_date, dep_payment, dep_paytype, dep_remarks, o.om_id, b.bid, b.bname,
            o.tom_name, o.tom_card, o.tom_number, u.uid, u.uname, f.fname as fjh,f1.fname as cshu,f2.fname as ldh from deposit d
            inner join oldman o on d.om_id = o.om_id
            inner join user u on d.uid = u.uid
            left join bed b on o.om_id = b.om_id
            left join floor f on b.fid = f.fid
            left join floor f1 on f1.fid = f.fdad
            left join floor f2 on f2.fid = f1.fdad
            where d.om_id = #{omid}
        order by dep_date desc
    </select>

    <update id="upadtedep">
        update deposit set dep_money=#{depMoney},dep_date=#{depDate},dep_payment=#{depPayment},dep_paytype=#{depPaytype},
        dep_remarks=#{depRemarks} where om_id = #{omid}
    </update>

    <update id="updatemoney">
        update deposit set dep_money=#{depMoney} where om_id = #{omid}
    </update>

</mapper>