<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    @description: 
    @author: ChenZhiPeng
    @create: 2020-12-21 16:23
-->
<mapper namespace="com.yanglaoyuan.model.Mapper.IOldmanMapper">

    <resultMap id="oldman" type="com.yanglaoyuan.pojo.Oldman">
        <id property="omId" column="om_id"/>
        <result property="tomName" column="tom_name"/>
        <result property="tomCard" column="tom_card"/>
        <result property="tomSex" column="tom_sex"/>
        <result property="tomNumber" column="tom_number"/>
        <result property="tomAddress" column="tom_address"/>
        <result property="tomCategory" column="tom_category"/>
        <result property="tomDiet" column="tom_diet"/>
        <result property="tomLabour" column="tom_labour"/>
        <result property="tomCheckIntime" column="tom_check_intime"/>
        <result property="tomFn" column="tom_fn"/>
        <result property="tomImg" column="tom_img"/>
    </resultMap>

    <!--查询所有老人-->
    <select id="selectoldmanAll" resultMap="oldman">
        select * from oldman
    </select>

    <!--根据老人主键查询-->
    <select id="selectOldmanByomid" resultMap="oldman">
        select * from oldman where om_id=#{oldman}
    </select>

    <!--查询未外出的老人-->
    <select id="selectNotOut" resultMap="oldman">
        select * from oldman where om_id not in (select o.om_id from outregistration o where o.out_true=1)
    </select>

    <select id="selectoldmanByid" resultMap="oldman">
        select * from oldman o inner join acare a on o.ac_id=a.ac_id where o.ac_id=#{acid}
    </select>

    <update id="del">
        update oldman set ac_id=null where om_id=#{id}
    </update>

    <update id="updateid">
        update oldman set ac_id=#{acid} where om_id=#{omid}
    </update>

    <select id="selectnoacid" resultMap="oldman">
        select * from oldman where ac_id is null
    </select>



    <!--新增老人-->
    <insert id="inseroldman" >
        insert into  oldman(tom_name,tom_card,tom_sex,tom_number,tom_address,tom_category,tom_diet,tom_labour,
        tom_check_intime,tom_img) values (#{d.tomName},#{d.tomCard},#{d.tomSex},#{d.tomNumber},#{d.tomAddress},
        #{d.tomCategory},#{d.tomDiet},#{d.tomLabour},#{tomCheckIntime},#{d.tomImg})
    </insert>

    <!--//查询所有点过餐的老人
    List<Oldman> selectOldmanByHaveFoid();-->
    <select id="selectOldmanByHaveFoid" resultMap="oldman">
        select * from oldman om inner join foodorder fo on om.om_id=fo.om_id
    </select>

</mapper>
