<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanglaoyuan.model.Mapper.IUserMapper">
    <resultMap id="all" type="com.yanglaoyuan.pojo.User">
        <id column="uid" property="uid"/>
        <result column="uname" property="uname"/>
        <result column="uphone" property="uphone"/>
        <result column="upass" property="upass"/>
    </resultMap>
    <select id="login" resultMap="all">
        select * from user where uphone=#{phone} and upass=#{upass}
    </select>


    <!--根据用户名查询用户信息-->
    <select id="byuphone" resultMap="all">
        select * from user where uphone=#{phone} limit 1
    </select>
</mapper>