<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanglaoyuan.model.Mapper.yanzhenMapper">
    <resultMap id="all" type="com.yanglaoyuan.pojo.Yanzhen">
        <id column="yzid" property="yzid"/>
        <result column="token" property="token"/>
        <result column="ename" property="ename"/>
    </resultMap>
    <delete id="del">
        delete from yanzhen where ename=#{ename}
    </delete>
    <select id="select" resultMap="all">
        select * from yanzhen where token=#{token}
    </select>
</mapper>